@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #845EC2;
$secondary: #B0A8B9;
$success: #00C9A7;
$danger: #C34A36;
$warning: #FFC75F;
$info: #1D87A4;

$font-family-sans-serif: "Roboto";
$font-family-serif:      "Lato";
$font-family-monospace:  "Lato";

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap'
