<nav class="container-xxl navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">JamSessions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {{ range .MenuItems }}
            <li class="nav-item active">
                <a class="nav-link" href="{{.Href}}">{{.Name}}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>