<div class="flex flex-col justify-center items-center mx-auto">
    <h1
        class="text-6xl max-md:text-4xl mb-6 font-extrabold font-display bg-clip-text text-transparent bg-gradient-to-r from-blue-300 to-purple-500">
        What is JamSession?</h1>
    <p class="text-center mb-8 text-xl max-md:text-lg w-10/12 max-md:w-full text-pretty">In the dynamic world of Twitch
        streaming,
        sharing music can be a risky business. Streamers and viewers alike often find themselves clicking on random
        links, with no guarantee of safety or quality. Enter JamSession, an innovative solution designed to make music
        sharing safe, centralized, and enjoyable.</p>
    <p class="text-center mb-8 text-xl max-md:text-lg w-10/12 max-md:w-full text-pretty">
        Our app connects to various live streams, watching the chat for music links from popular sharing sites. These
        links are then transformed into an embeddable player, displayed on our website for everyone to enjoy. No more
        scrolling through chat history, no more clicking on random links. With JamSession, you can join the musical
        journey of your favorite streamer, safely and seamlessly. Whether you’re a content creator or a viewer,
        JamSession is your ticket to a harmonious Twitch experience. <span class="font-bold">Want to give it a
            try?</span></p>
    <a class="btn btn-primary text-white text-lg max-md:text-base animate-pulse" href="/watch">Start Listening!</a>
</div>