<div class="flex flex-col justify-center items-center mx-auto">
    <h1
        class="text-8xl max-md:text-6xl mb-4 font-extrabold font-display bg-clip-text text-transparent bg-gradient-to-r from-blue-300 to-purple-500">
        Jam Sessions</h1>
    <p class="text-center mb-8 text-xl max-md:text-lg">Unite your live stream community through music! Discover tracks
        from talented
        musicians,
        producers, and
        singers—all in one <span class="italic font-bold">safe</span> place. Click ‘Start Listening’ and elevate your
        stream
        experience.</p>
    <a class="btn btn-primary text-lg max-md:text-base" href="/watch">Start Listening!</a>
</div>