<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beat Battles</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module">
    import * as Turbo from "https://unpkg.com/@hotwired/turbo@8.0.4/dist/turbo.es2017-esm.js"
    const socket = new WebSocket("ws://localhost:8080/ws/ttlnow");
    Turbo.session.connectStreamSource(socket)

    socket.addEventListener('message', event => console.log(event.data))
  </script>
</head>

<body>
  <div id="messages" class="grid grid-cols-2"></div>
</body>

</html>