:root {
    /* Brand Colors */
    --purple: #845EC2;
    --blue: #0081CF;
    --green: #00C9A7;
    --orange: #FFC75F;
    
    /* Shades */
    --light-purple: #A178DF;
    --pink: #BE93FD;
    --light-pink: #DCB0FF;
    --lighter-pink: #FACCFF;

    /* UI Options */
    --primary: #845EC2;
    --secondary: #B0A8B9;
    --success: #00C9A7;
    --danger: #C34A36;
    --warning: #FFC75F;
    --info: #1D87A4;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}